<% if current_admin %>
	<h1> This is admin </h1>
<% else %>
	<% @items.each do |item| %>
		<%= image_tag item.image%>
		<h1> <%= item.name %> </h1>
		<h4> <%= item.price %> </h4>
		<h4> <%= item.description %> </h4>
	<% end %>
<% end %>

<% if user_signed_in? || admin_signed_in? %>
	<div>
	 <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
	</div>  
<% end %>